boto3==1.13.2
botocore==1.16.2
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
click==7.1.2
cssselect2==0.3.0
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.15.2
Flask==1.1.2
gunicorn==20.0.4
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
MarkupSafe==1.1.1
Pillow==7.1.2
pycparser==2.20
pymongo==3.10.1
Pyphen==0.9.5
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.14.0
tinycss2==1.0.2
urllib3==1.25.9
WeasyPrint==51
webencodings==0.5.1
Werkzeug==1.0.1
